services:
  db:
    image: postgres:15
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}

  redis:
    image: redis:7
    ports: ['6379:6379']

  web:
    build:
      context: .
    command: gunicorn blog_app.wsgi:application --bind 0.0.0.0:8000
    volumes:
      - .:/app
    env_file:
      - .env
    depends_on:
      - db
      - redis
    ports:
      - '8000:8000'

  worker:
    build:
      context: .
    command: celery -A blog_app worker --loglevel=info
    env_file:
      - .env
    depends_on:
      - db
      - redis

  beat:
    build:
      context: .
    command: celery -A blog_app beat --loglevel=info
    env_file:
      - .env
    depends_on:
      - db
      - redis

  frontend:
    build:
      context: ./frontend
    depends_on:
      - web
    ports:
      - "3000:80"   # nginx serves build at port 80 in container -> map to 3000

volumes:
  postgres_data:
